{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'csvdata/csvcss.css' %}">

<body>
    <nav class="body-col-1">
        <ul class="navList">
            <li>
                <a class="" href="/CSVdata/">Files</a>
            </li>
            <li>
                <a class="" href="/CSVdata/upload">Upload</a>
            </li>
        </ul>
    </nav>
    <div class="body-col-2">
        <header>CSV File: {{ filename }}</header>
        <div class="reports">
            <a class="" href="{{ fileid }}/dashboard">Dashboard</a>
        </div>
        <main class="fileContent">
            {{loaded_data | safe}}
        </main>
        <footer></footer>
    </div>
</body>